*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    max-width: 100%;
    height: auto;
    background-color: #464646;
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
    background-image: none;
  }

  .linkedin {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 48px;
    width: 70%;
    margin: 15px;
    font-size: 32px;
    
  }

  .twitter {
    background-color: #0080FF;
    border: none;
    color: white;
    padding: 15px 48px;
    width: 70%;
    margin: 15px;
    font-size: 32px;
  }

  .snpachat {
    background-color: #FFFF00;
    border: none;
    color:black;
    padding: 15px 48px;
    width: 70%;
    margin: 15px;
    font-size: 32px;
  }

  .instagram {
    background-color: #FF6666;
    border: none;
    color: white;
    padding: 15px 48px;
    width: 70%;
    margin: 15px;
    font-size: 32px;
  }

  .tiktok {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 48px;
    width: 70%;
    margin: 15px;
    font-size: 32px;
  }

  .round {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      position: relative;
      overflow: hidden;
  }